// Place all the styles related to the phrases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
  width: 100%;
  background-color: #0aee0a;
  padding: 10px 100px;
  font-size: 16px;
}

.alert {
  width: 100%;
  background-color: red;
  padding: 10px 100px;
  font-size: 16px;
}

#phrases {
  margin: 50px auto 0 auto;
  width: 60%;
  font-size: 20px;
  font-family: 'Open Sans, sans'

  label {
    font-weight: bold;
  }
  #phrase_phrase {
    width: 300px;
    padding: 5px;
    display: block;
    margin-bottom: 15px;
  }
}
